<style>
	th, td {
		padding: 10px;
	}
	th {
		text-align: left;
	}
</style>

<a href="/category/show">Categories Listing</a>&nbsp;&nbsp;
<a href="/product/show">Products Listing</a>
<br/>

<h1>Product - add</h1>

{{ form_start(form) }}
	<table>
		<tr><td>Name</td><td>{{ form_widget(form.name) }}</td></tr>
		<tr><td>Category</td><td>{{ form_widget(form.category) }}</td></tr>
		<tr><td>SKU</td><td>{{ form_widget(form.sku) }}</td></tr>
		<tr><td>Price</td><td>{{ form_widget(form.price) }}</td></tr>
		<tr><td>Quantity</td><td>{{ form_widget(form.quantity) }}</td></tr>
	</table>
{{ form_end(form) }}