<style>
	th, td {
		padding: 10px;
	}
	th {
		text-align: left;
	}
</style>

{% if user.role == "guest" %}
	<a href="/user/login">LOGIN</a><br />
{% else %}
	Hello {{ user.name }}, <a href="/user/logout">LOGOUT</a><br />
{% endif %}
<br />
<a href="/category/show">Categories Listing</a>&nbsp;&nbsp;
<a href="/product/show">Products Listing</a><br/>

<h1>Product - view</h1>

{% if product is not empty %}
	<table>
		<tbody>
		<tr>
			<td>ID</td></td><td>{{ product.id }}</td>
		</tr>
			<td>Name</td><td>{{ product.name }}</td>
		</tr>
			<td>Category</td><td>{{ product.category }}</td>
		</tr>
			<td>SKU</td><td>{{ product.sku }}</td>
		</tr>
			<td>Price</td><td>{{ product.price }}</td>
		</tr>
			<td>Quantity</td><td>{{ product.quantity }}</td>
		</tr>
			<td>Created at</td><td>{{ product.createdAt | date('d/m/Y H:i:s') }}</td>
		</tr>
			<td>Modified at</td><td>{{ product.modifiedAt | date('d/m/Y H:i:s') }}</td>
		</tr>
		</tbody>
	</table>
{% else %}
	<p>No Products Found.</p>
{% endif %}