<style>
	th, td {
		padding: 10px;
	}
	th {
		text-align: left;
	}
</style>

{% if user.role == "guest" %}
	<a href="/user/login">LOGIN</a><br />
{% else %}
	Hello {{ user.name }}, <a href="/user/logout">LOGOUT</a><br />
{% endif %}
<br />
<a href="/category/show">Categories Listing</a>&nbsp;&nbsp;
{% if user.role == "user" %}
	<a href="/product/create">New Product</a><br/>
{% endif %}

<h1>All Products</h1>

{% if products is not empty %}
	<table>
		<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Category</th>
			<th>SKU</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Created at</th>
			<th>Modified at</th>
			<th></th>
	{% if user.role == "user" %}
			<th></th>
			<th></th>
	{% endif %}
		</tr>
		</thead>
		<tbody>
		{% for product in products %}
			<tr>
				<td>{{ product.id }}</td>
				<td>{{ product.name }}</td>
				<td>{{ product.category }}</td>
				<td>{{ product.sku }}</td>
				<td>{{ product.price }}</td>
				<td>{{ product.quantity }}</td>
				<td>{{ product.createdAt | date('d/m/Y H:i:s') }}</td>
				<td>{{ product.modifiedAt | date('d/m/Y H:i:s') }}</td>
				<td><a href="/product/show/{{ product.id }}">view</a></td>
			{% if user.role == "user" %}
				<td><a href="/product/edit/{{ product.id }}">edit</a></td>
				<td><a href="/product/delete/{{ product.id }}">delete</a></td>
			{% endif %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>No Products Found.</p>
{% endif %}