<style>
	th, td {
		padding: 10px;
	}
	th {
		text-align: left;
	}
</style>

{% if user.role == "guest" %}
	<a href="/user/login">LOGIN</a><br />
{% else %}
	Hello {{ user.name }}, <a href="/user/logout">LOGOUT</a><br />
{% endif %}
<br />
<a href="/product/show">Products Listing</a><br />

<h1>All Categories</h1>

{% if categories is not empty %}
	<table>
		<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Created at</th>
			<th>Modified at</th>
		</tr>
		</thead>
		<tbody>
		{% for category in categories %}
			<tr>
				<td>{{ category.id }}</td>
				<td>{{ category.name }}</td>
				<td>{{ category.createdAt | date('d/m/Y H:i:s') }}</td>
				<td>{{ category.modifiedAt | date('d/m/Y H:i:s') }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>No Categories Found.</p>
{% endif %}