<style>
	th, td {
		padding: 10px;
	}
	th {
		text-align: left;
	}
</style>

<h1>Log in</h1>

{{ form_start(form) }}
	<table>
		<tr><td>User</td><td>{{ form_widget(form.email) }}</td></tr>
	</table>
{{ form_end(form) }}